
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/Layer/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/Layer/layui/layui.js"></script>
</head>
<body>
    <div class="layui-card">
        <div class="layui-card-header">登录</div>
        <div class="layui-col-md4">
            <div class="layui-card-body">
                卡片式面板面板通常用于非白色背景色的主体内<br>
                从而映衬出边框投影
            </div>
        </div>
    </div>
</body>
</html>
