
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddUserData</title>
    <link href="~/Content/Layer/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/Layer/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="layui-container">
        <input type="text" id="UserName" name="UserName" value="" placeholder="账号" class="layui-input" style="margin-top:25px" />
        <input type="text" id="UserPwd" name="UserPwd" value="" placeholder="密码" class="layui-input" style="margin-top:20px" />
        <input type="text" id="UserRlname" name="UserRlname" value="" placeholder="真实姓名" class="layui-input" style="margin-top:20px" />
    </div>
    <div class="layui-btn-group" style="margin-left:15px;margin-top:20px">
        <button class="layui-btn layui-btn-normal layui-btn-sm" onclick="AddUser()">确定</button>
        <button class="layui-btn layui-btn-warm layui-btn-sm" onclick="EmptyData()">重置</button>
        <button class="layui-btn layui-btn-danger layui-btn-sm" onclick="CloseWin()">关闭</button>
    </div>
</body>
</html>
<script>
    function EmptyData()
    {
        document.getElementById('UserName').value = "";
        document.getElementById('UserPwd').value = "";
        document.getElementById('UserRlname').value = "";
    }
    function AddUser() {
        var username = $("#UserName").val();
        var userpwd = $("#UserPwd").val();
        var userrlname = $("#UserRlname").val();
        if (username == "" || userpwd == "" || userrlname == "") {
            layer.msg("数据不为空!");
            return;
        }
        layer.confirm('确定添加新账户?', { icon: 6, title: '新提示' }, function () {
            $.ajax({
                url: '/Main/AddUserNewData',
                data: {
                    uname: $("#UserName").val(),
                    upwd: $("#UserPwd").val(),
                    urlname: $("#UserRlname").val()
                },
                success: function (res)
                {
                    if (res == "OK") {
                        window.parent.layer.msg('新增账户成功!');
                    }
                    else {
                        window.parent.layer.msg('新增账户失败!');
                    }
                    CloseWin();
                }
            });
        });
    }
    function CloseWin() {
        var index = window.parent.layer.getFrameIndex(window.name);
        window.parent.layer.close(index);
    }
</script>
